<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ludei.devapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cocoon notifications demo</name>
    <description>
        Demo to showcase the Cocoon local and push notifications plugins.
    </description>
    <author email="support@cocoon.io" href="http://cocoon.io">
        Cocoon team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait"/>
    <preference name="Fullscreen" value="true"/>
    <cocoon:plugin name="cocoon-plugin-notifications-android-local"/>
    <cocoon:plugin name="cocoon-plugin-notifications-ios-local"/>
    <cocoon:plugin name="cocoon-plugin-notifications-android-parse">
        <param name="APP_ID" value=""/>
        <param name="CLIENT_KEY" value=""/>
    </cocoon:plugin>
    <cocoon:plugin name="cocoon-plugin-notifications-ios-parse">
        <param name="APP_ID" value=""/>
        <param name="CLIENT_KEY" value=""/>
    </cocoon:plugin>
</widget>
